replicaCount: 2

image:
  repository: ghcr.io/frannovo/p2p-devops-test-gitflow
  pullPolicy: IfNotPresent
  tag: a930658010754b74656961b7654266eeb07c2a1c

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

podDisruptionBudget:
  minAvailable: 1

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values:
                - goapp-prod
        topologyKey: kubernetes.io/hostname