# Staging values for goapp.
replicaCount: 2

image:
  repository: ghcr.io/frannovo/p2p-devops-test-gitflow
  pullPolicy: IfNotPresent
  tag: e355fcba0fcab9e6414993bad6206c5904314a1b

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

podDisruptionBudget:
  minAvailable: 1

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values:
                - goapp-staging
        topologyKey: kubernetes.io/hostname