# Staging values for goapp.
replicaCount: 2

image:
  repository: ghcr.io/frannovo/p2p-devops-test-gitflow
  pullPolicy: IfNotPresent
  tag: b4b740ce48f4b0fdf6a004bb54e9dae6892796e6

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

podDisruptionBudget:
  minAvailable: 1

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values:
                - goapp-staging
        topologyKey: kubernetes.io/hostname