replicaCount: 2

image:
  repository: ghcr.io/frannovo/p2p-devops-test-gitflow
  pullPolicy: IfNotPresent
  tag: 2d7751b6a4ef37f462f6000768d22a50659d1466

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

podDisruptionBudget:
  minAvailable: 1

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values:
                - goapp-prod
        topologyKey: kubernetes.io/hostname