name: CD - Update Helm Values Tag

on:
  push:
    branches:
      - "develop"
      - "staging"
      - "master"

env:
  HELM_CHART_PATH: ${{ vars.HELM_CHART_PATH }}
  DOCKER_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ${{ github.sha }}

jobs:
  docker-buld-publish:
    name: Docker Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          load: true
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Run Trivy Dockerfile scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "config"
          scan-ref: "./Dockerfile"
          exit-code: "1"
          format: "table"
          severity: "CRITICAL,HIGH,MEDIUM"

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          format: "table"
          severity: "CRITICAL,HIGH,MEDIUM"

  gitops-trigger:
    name: Update Helm Values for Deployment
    needs: docker-buld-publish
    runs-on: ubuntu-latest

    # Define environment based on branch for protection rules
    environment: ${{ github.ref == 'refs/heads/develop' && 'Development' ||
      (github.ref == 'refs/heads/staging' && 'Staging') ||
      (github.ref == 'refs/heads/master' && 'Production') }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set environment variables
        id: set_env
        run: |
          BRANCH=${{ github.ref_name }}
          if [ "$BRANCH" == "develop" ]; then
            echo "VALUES_FILE=${{ env.HELM_CHART_PATH }}/values-dev.yaml" >> $GITHUB_OUTPUT
            echo "ENV_NAME=Dev" >> $GITHUB_OUTPUT
          elif [ "$BRANCH" == "staging" ]; then
            echo "VALUES_FILE=${{ env.HELM_CHART_PATH }}/values-staging.yaml" >> $GITHUB_OUTPUT
            echo "ENV_NAME=Staging" >> $GITHUB_OUTPUT
          elif [ "$BRANCH" == "master" ]; then
            echo "VALUES_FILE=${{ env.HELM_CHART_PATH }}/values-prod.yaml" >> $GITHUB_OUTPUT
            echo "ENV_NAME=Production" >> $GITHUB_OUTPUT
          fi
          echo "IMAGE_FULL_TAG=${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME}}:${{ env.IMAGE_TAG }}" >> $GITHUB_OUTPUT

      - name: Update Helm values-dev.yaml
        run: |
          sed -i "s/tag: .*/tag: ${{ env.IMAGE_TAG}}/" ${{ steps.set_env.outputs.VALUES_FILE }}


      - name: Commit and push GitOps trigger
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: ${{ github.ref_name }}
          commit_message: "[skip ci] Deploy ${{ steps.set_env.outputs.ENV_NAME }} - App version ${{ env.IMAGE_TAG }}"
