name: SCA scan

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize ]

env:
  GO_VERSION: "1.25"

jobs:
  sca:
    name: SCA scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
          cache-dependency-path: go.sum

      - name: Run Nancy (Dependency Vulnerability Scanner)
        run: |
          go install github.com/sonatype-nexus-community/nancy@latest
          go list -json -deps ./... | nancy sleuth
